<div class="container">
	<div class="row">
		<div class="span8" id="outer">
			
			<!-- HEADER -->
			<div class="row-fluid">
				<div class="span12" id="header">
					<h3>Playing <span id="genre"><%= genre %></span> in <span id="location"><%= location %></span>.</h3>
				</div>
			</div>

			<!-- PLAYER -->
			<div class="row-fluid">
				<div class="span12">
					<div id="coverflow"></div>
				</div>
			</div>

			<!-- CONTROLS -->
			<div class="row-fluid">
				<div class="span12">
					<div id="controls">
						<a id="prev">Prev</a>
						<a id="next">Next</a>
					</div>
				</div>
			</div>

			<!-- CONTENT -->
			<div class="row-fluid">

				<!-- BAND INFO AND LINKS -->
				<div id="bandInfo" class="span7">
				</div>
				<div id="twitter" class="span5">twitter feed goes here</div>
			</div>


		</div>
	</div>
</div>